{
    "extends": "eslint-config-egg",
    "rules": {
        "semi": "off",
        "no-extra-semi": "warn",
        "no-tabs": "warn",
        "indent": "off",
        "quotes": "warn",
        "no-unused-vars": "warn"
    }
}
